# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
.pages/__pycache__/
.tests/__pycache__/
.utils/__pycache__/

# Pytest
.pytest_cache/
.coverage
htmlcov/
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema Operativo
.DS_Store
Thumbs.db

# Playwright
playwright-report/
test-results/

# Allure
allure-report/
allure-results/